<div id = box5>
  <h1>{{personality.personality}}</h1>
</div>
<div id = box6>
<h2>Answer a question:</h2>

<form action="/personalities/{{personality.personality}}/user_questions" method="POST">
    First name:<br>
    <input type="text" name="personality[firstname]">
    <br>
    Last name:<br>
    <input type="text" name="personality[lastname]">
    <br>
  Question:<br>
  <textarea name="personality[question]" placeholder="Type a Question"></textarea>
  <button type="submit">Ask!</button>
</form>
</div>

<div id = box7>
<ul>
  {{#each personality.user_answer as |answer|}}
    <li>
      {{answer.firstname}}
      {{answer.lastname}}:
      {{question.answer}}
    </li>
  {{/each}}
</ul>
</div>
