<div id = box2>
  <h1>{{personality.personality}}</h1>
</div>
<div id = box3>
<h2>Questions asked of us:</h2>

<form action="/personalities/{{personality.personality}}/user_questions" method="POST">
    First name:<br>
    <input type="text" name="personality[firstname]">
    <br>
    Last name:<br>
    <input type="text" name="personality[lastname]">
    <br>
  Question:<br>
  <textarea name="personality[question]" placeholder="Type a Question"></textarea>
  <button type="submit">Ask!</button>
</form>
</div>

<div id = box4>
<ul>
  {{#each personality.user_questions as |question|}}
    <li>
      {{question.firstname}}
      {{question.lastname}}:
      {{question.question}}
    </li>
  {{/each}}
</ul>
</div>
